<div class="container">
  <div class="form-group">
    <label for="numeroInput">Escolha um número:</label>
    <input type="number" [(ngModel)]="number" class="form-control" id="numeroInput" #numeroInput>
  </div>
  <div class="alert alert-primary">
    {{number}}
  </div>
  <button type="button" class="btn-primary btn-block" (click)="escolher()">Escolher pra mim</button>
</div>
<!--<div class="container">
  <form action="">
    <div class="form-group">
      <label for="imputNome">Nome do usuário:</label>
      <input type="text" class="form-control" id="inputNome" (input)="alterarNome($event)" />
      <input type="text" class="form-control" id="inputNome" #nomeInput />
    </div>
    <button type="button" class="btn btn-primary" (click)="adicionar(nomeInput)">Adicionar</button>
    <div class="alert alert-primary mt-3" [hidden]="esconderCaixa" #alerta>
      {{ nome }}
    </div>
  </form>
</div>-->
